<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

<body>
    

    <%-  include('../partials/nav.ejs') %>

    <div class="about content">
           <h2>About Us</h2>
           <p>
             We are motivated developpers
           </p>
           <p>
               Maxim 21 yo
               Salim 24 yo
               Patrach 29 yo
           </p>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>