<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <nav >
        
        <div class="site">
            <a href="/">
                <h1>Blog</h1>
                <p>My personal Blog</p>
             </a>
        </div>
        
        
        <ul>
       <li>
           <a href="/"><h1>Blogs</h1></a>
        </li>
       <li>
           <a href="/about"><h1>About</h1></a>
    </li>
       <li>
           <a href="/blogs/create"><h1>New Blog</h1></a>
        </li>
       </ul>
   
   
    </nav>

    <div class="about content">
           <h2>About Us</h2>
           <p>
             We are motivated developpers
           </p>
           <p>
               Maxim 21 yo
               Salim 24 yo
               Patrach 29 yo
           </p>
    </div>
</body>
</html>